.header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 130px;
  z-index: 100;
  background-color: #ffffff;
  border-bottom: 1px solid #eaeaea;
}
.headerContainer {
  padding: 0px 16px;
  max-width: 1280px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  height: 60px;
}
.menuContainer {
  padding: 0px 16px 16px 16px;
  max-width: 1280px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  height: 70px;
}
.logoWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo {
  display: flex;
  margin-top: 5px;
}
.buttons {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 830px) {
  .address {
    display: none;
  }
}
@media only screen and (max-width:442px) {
  .cart {
    display: none;
  }
}