.header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
  backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.75);
}
.headerContainer {
  padding: 10px 16px 0 16px;
  max-width: 1280px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  height: 60px;
}
.menuContainer {
  padding: 0px 16px;
  max-width: 1280px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
}
.logoWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo {
  display: flex;
  margin-top: 5px;
  margin-right: 40px;
}
.buttons {
  display: flex;
  flex-direction: row;
}

.phoneWrapper {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-left: 16px;
  white-space: nowrap;
  cursor: pointer;
}
.phoneText {
  font-size: 16px;
  font-weight: 500;
}
.caption {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.captionText {
  font-size: 13px;
  color: #9e9b98;
  margin-right: 4px;
}
.phoneLocationWrapper {
  display: flex;
}

@media only screen and (max-width: 830px) {
  .address {
    display: none;
  }
}
@media only screen and (max-width:442px) {
  .cart {
    display: none;
  }
  .menuContainer {
    flex-direction: column-reverse;
    height: unset;
  }
  .phoneLocationWrapper {
    margin-top: 10px;
  }
}