.product {
    display: flex;
    flex-direction: row;
}
.images {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 530px;
    max-height: 610px;
}
.imagesWrapper {
    position: relative;
}
.images img {
    width: 100%;
    position: relative;
    user-select: none;
    object-fit: contain;
    max-width: 760px;
    max-height: 760px;
    width: 100%;
    height: 100%;
}
.content {
    position: relative;
    float: right;
    vertical-align: top;
    width: 394px;
    height: 478px;
    padding: 30px 0px;
    background: rgb(252, 252, 252);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 0;
}
.contentScroll {
    position: absolute;
    inset: 0px;
    overflow-y: scroll;
    margin-right: -17px;
    margin-bottom: -17px;
    padding: 0px 30px;
}
.heading {
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
}
.subHeading span {
    display: block;
    color: rgb(0, 0, 0);
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    margin-bottom: 12px;
}
.optionsString span {
    color: rgb(92, 99, 112);
    font-size: 14px;
    line-height: 20px;
    text-transform: lowercase;
}

.ingredientsProduct {
    margin-bottom: 14px;
    font-size: 14px;
    color: rgb(0, 0, 0);
}

.options {
    display: flex;
    flex-direction: column;
}

.values {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 9999px;
    background-color: rgb(243, 243, 247);
    height: 32px;
    position: relative;
    overflow: hidden;
    margin: 8px 0px;
    transform: translateZ(0px);
}
.values input {
    position: absolute;
    display: none;
}

.value:first-child {
    margin-left: 0;
}
.value {
    margin-left: 8px;
}
.value label {
    display: block;
    flex: 1 1 0%;
    position: relative;
    cursor: pointer;
    user-select: none;
    border-radius: 9999px;
    color: rgb(0, 0, 0);
    font-size: 12px;
    line-height: 32px;
    text-align: center;
    height: 32px;
}

.containerIngredients {
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: -8px;
    margin-right: -8px;
}
.ingredient {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(33.3333% - 8px);
    height: 166px;
    margin: 0px 8px 8px 0px;
    padding: 8px;
    background: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 12px;
    box-shadow: rgba(6, 5, 50, 0.12) 0px 4px 20px;
}
.ingrImg img {
    width: 90px;
    flex: 0 0 auto;
}
.ingrTitle {
    font-size: 12px;
    line-height: 16px;
    height: 32px;
    text-align: center;
}
.ingrPrice {
    font-size: 16px;
    line-height: 20px;
    flex: 0 0 auto;
    margin: 4px;
}

.form {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.btnBuy {
    margin: 24px 30px 30px;
}

.size1 {
    position: relative;
    margin: 128px 90px 0px;
    transition: margin 0.25s ease-in-out 0s;
}
.size2 {
    position: relative;
    margin: 92px 52px 0px;
    transition: margin 0.25s ease-in-out 0s;
}
.size3 {
    position: relative;
    margin: 50px 14px 0px;
    transition: margin 0.25s ease-in-out 0s;
}

.activeLabel1 {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: calc(33.3333%);
    transition: transform 200ms ease-out 0s, width;
    padding: 2px;
}
.activeLabel1::before {
    content: " ";
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgb(255, 255, 255);
    border-radius: 9999px;
    box-shadow: rgba(6, 5, 50, 0.19) 0px 6px 20px;
}
.activeLabel1.shift1 {
    transform: translateX(calc(0%));
}
.activeLabel1.shift2 {
    transform: translateX(calc(100%));
}
.activeLabel1.shift3 {
    transform: translateX(calc(200%));
}
.activeLabel2 {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: calc(50%);
    transform: translateX(calc(0%));
    transition: transform 200ms ease-out 0s, width;
    padding: 2px;
}
.activeLabel2::before {
    content: " ";
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgb(255, 255, 255);
    border-radius: 9999px;
    box-shadow: rgba(6, 5, 50, 0.19) 0px 6px 20px;
}
.activeLabel2.shift1 {
    transform: translateX(calc(0%));
}
.activeLabel2.shift2 {
    transform: translateX(calc(100%));
}

.activeIngr {
    box-shadow: rgba(6, 5, 50, 0.12) 0px 0px 0px;
    border: 1px solid rgb(255, 105, 0);
}